.parametric-app {
	height: 100%;
	overflow: hidden;
	.app-page {
		height: 100%;
	}
}
.controllers {
	padding: 4em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	@include media-breakpoint-down(md) {
		padding: 3em;
	}
	//background: rgba(255,255,255,0.3);
	
	#parametric-tabs {
		border-bottom: none;
		li {
			margin-right: 0.5em;
			@include media-breakpoint-down(md) {
				margin-bottom: 0.5em;
				width: 48%;
			}
			
		}
		a {
			text-decoration: none;
			border: solid 1px $white;
			border-radius: 0;
			color: $white;
			&:hover {
				color: $secondary-color;
			}
			&.active {
				color: $black;
			}
		}
	}
	.tab-content {
		max-width: 550px;
		padding: 2em 0 0 0;
		color: $white;

		label {
			font-size: 1.1rem;

			@include media-breakpoint-down(md) {
				font-size: 0.975rem;
			}
		}
	}
	// Try parametric yourself
	&.controllers-try {
		right: 0;
		left: inherit;
		text-align: right;
		max-width: 400px;

		img {
			max-width: 100%;
		}
		iframe {
			margin-right: -15px;
			display: inline-block;
		}
	}
}
.btn-startagain {
	position: relative;
    top: -11px;
    padding: .15rem .5rem;
    margin-right: 0.5em;
}
.share-save-panel {
	padding: 4em;
	position: absolute;
	right: 0;
	bottom: 0;
	max-width: 450px;
	text-align: right;

	@include media-breakpoint-down(lg) {
		position: relative;
		padding: 3em 0 0 0;
		border-top: solid 2px $white;
		margin-top: 3em;
		text-align: left;
		max-width: none;
	}
}
