
.controllers {
	padding: 4em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	//background: rgba(255,255,255,0.3);
	
	#parametric-tabs {
		border-bottom: none;
		li {
			margin-right: 0.5em;
		}
		a {
			border: solid 1px $white;
			border-radius: 0;
			color: $white;

			&.active {
				color: $black;
			}
		}
	}
	.tab-content {
		max-width: 570px;
		padding: 2em 0 0 0;
		color: $white;

		label {
			font-size: 1.1rem;
		}
	}
}
