$gap: $grid-gutter-width / 2; // (15px typically)

//
// Base Styles
// --------------------------------------------------

html {
  margin:0; 
}

body {
  overflow-x:hidden;
  margin:0; 
  font-family: $primary-font; 
  color: $primary-color;
  font-size: 12px;
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


//
// Typography
// --------------------------------------------------

a {
  transition: all 0.2s ease-out;
  color: $white;
  &:hover {
    color: $secondary-color;
  }
  text-decoration: underline;
}

// All Headings
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 600;
  text-transform: uppercase;
}
.fa {
  vertical-align: middle;
}


// Colors - build background/text/link colours from your theme-colors() variable


body {
  background: $black;
}

// Front Page
#parametric-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: -1;
}
.page {
  position: relative;
  z-index: 99;
  //position: absolute;
  // bottom: 0;
  // left: 0;
  margin: 4em;
  
  @include media-breakpoint-up(xl) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }

  .description {
    
    margin-top: 2em;
    @include media-breakpoint-up(lg) {
        max-width: 50%;
    }
  }
}

.btn-primary {
  border-radius: 0;
  background-color: $white;
  color: $black;
  border-color: $white;
  text-decoration: none;

  &:hover,
  &:active, 
  &:focus {
    background-color: $secondary-color;
    border-color:: $secondary-color;
  }
}
@include media-breakpoint-up(xl) {
  .btn-enter {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.logo {
  max-width: 400px;

  &.logo-manxmachine {
    max-width: 200px;
  }
  @include media-breakpoint-down(md) {
    max-width: 90%;
  }
}

.bottom-thanks {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  margin-top: 4em;
  font-size: 0.7rem;
}
.footer-logos {
  .logo {
    max-width: 200px;
    &.logo-scc {
      max-width: 300px;
    }
  }
}
