//
// Base Styles
// --------------------------------------------------
.container {
  @include media-breakpoint-up(xl) {
    max-width: $container-width;
  }
}

// Logo
// --------------------------------------------------
.logo img {
  max-width: rem(275px);
}

.navbar-brand img {
  width: 100%;

  @include media-breakpoint-down(md) {
    max-width: rem(204px);
  }
}

.btn-login {
  z-index: 99;
  font-family: $headings-font;
  font-weight: 600;
  margin-right: 6em;
  margin-top: -2em;
  text-transform: uppercase;
  img {
    max-width: 20px;
    width: 20px;
    height: auto;
    margin-right: 4px;
  }

  @include media-breakpoint-down(md) {
    margin-top: -0.5em;
  }
  @include media-breakpoint-down(sm) {
      position: absolute;
      top: 80px;
      right: 5px;
      margin: 0;
      border: solid 1px #ccc;
  }
}
.home {
  .btn-login {
    position: absolute;
    margin: 0;
    top: 32px;
    right: 7em;
  }
  @include media-breakpoint-down(md) {
   // display: none;
  }
}
// Custom entry content
// --------------------------------------------------
.entry-content {

  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-bottom: 1rem;
    color: $warning-color;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

ul {

  .entry-content &,
  &.c-list {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;
      padding-left: 1.5rem;
      position: relative;

      &:before {
        content: '\00B7';
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
      }
    }
  }
}

// Custom common classses
// --------------------------------------------------

.c-text-large {
  font-size: 120%;
}

.c-title-underlined {

  &:after {
    content: '';
    display: flex;
    height: rem(2px);
    width: rem(68px);
    margin-top: 1rem;
  }
    
  &--primary {
    
    &:after {
      background-color: $primary-color;
    }
  }

  &--warning {
    
    &:after {
      background-color: $warning-color;
    }
  }

  &--white {

    &:after {
      background-color: $white;
    }
  }

  &.text-center {

    &:after {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    &.text-lg-left {

      &:after {
        margin-left: 0;
      }
    }
  }
}

.c-soc-icon {
  align-items: center;
  display: flex;
  height: rem(30px);
  justify-content: center;
  width: rem(30px);

  & + & {
    margin-left: rem(10px);
  }
}

// Custom block's classses
// --------------------------------------------------

.c-quote {
  padding-left: 2rem;
  position: relative;

  &:before {
    color: $warning-color;
    content: '“';
    display: block;
    font-size: rem(75px);
    height: rem(34px);
    left: 0;
    line-height: 1;
    position: absolute;
    top: rem(-14px);
  }
}

.c-people {

  img {
    width: 100%;
    height: 360px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      max-width: 320px;
    }
  }
}

.c-bg-circle {
  font-size: rem(20px);
  position: relative;

  @include media-breakpoint-up(lg) {
    font-size: rem(35px);
  }

  &:before {
    background-image: url('../images/bg-circle.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.c-navbar-socials {
  bottom: rem(20px);
  display: flex;
  position: absolute;
  right: rem(20px);
}

.c-footer {
  position: relative;

  &:before {
    background-image: url('../images/bg-texture.svg');
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.c-subfooter {

  @include media-breakpoint-up(lg) {

    & + & {
      border-left: 1px solid $white;
    }
  }
}

.c-focushome {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $primary-color;
  }
}

.c-focus {
  border-bottom: 1px solid rgba($default-color, .3);

  &:last-child {
    border-bottom: 0;
  }

  &__title {
    max-width: rem(180px);
  }
}

.c-pagination {

  .page-link {
    border-color: $primary-color;
    color: $warning-color;
    font-family: Unica One,sans-serif;
    padding: 0;
    text-align: center;
    margin-left: rem(5px);
    width: rem(25px);
    height: rem(25px);
    line-height: rem(23px);

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  .page-item {
    .page-link {
      border-radius: 0;      
    }

    &.active {

      .page-link {
        color: $white;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}

.c-header {
  background-image: url('../images/bg-header-home.jpg');
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  .page--insights & {
    background-image: url('../images/bg-header-insights.jpg');
  }

  .page--people &,
  .page--salesforce-focus & {
    background-image: url('../images/bg-header-salesforce-focus.jpg');
  }
  
  .page--locations & {
    background-image: url('../images/bg-header-location.jpg');
  }


  &:before {
    background: $primary-color url('../images/bg-circle.svg') no-repeat 50% 80%;
    background-size: 50% auto;
    bottom: 0;    content: '';
    display: block;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    }
}


