// Navbar
// --------------------------------------------------
.navbar {
  flex-wrap: nowrap;
}
.navbar-nav {

  .dropdown-toggle .caret { 
    display: none; 
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }

  .dropdown-menu {
    background-color: transparent;
    border: 0;
    color: inherit;
    display: block;
    margin-top: 0;
    padding: {
      bottom: 4px;
      left: rem(40px);
      top: 4px;
    };
  }

  .dropdown-item {
    color: inherit;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    padding: 0.1rem 0.5rem 0.1rem 2.5rem;
    &:before {
      background-color: $warning-color;
      content: '';
      display: inline-block;
      height: rem(2px);
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(20px);
    }

    &:focus, 
    &:hover,
    &.active, 
    &:active {
      background-color: transparent;
      color: $warning-color;
    }
  }

  .nav-link {
    color: $white;
    font-family: $headings-font;
    font-size: rem(28px);
    padding: {
      bottom: rem(4px);
      top: rem(4px);
    };
    text-transform: uppercase;

    &:focus, 
    &:hover,
    &.active, 
    &:active {
      color: $warning-color;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}

// Navbar toggle
// --------------------------------------------------
.navbar-toggler {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;  
  cursor: pointer;
  height: rem(30px + 5px);
  // margin: 4px -10px 0 0;
  padding: rem(5px) rem(5px);
  z-index: $zindex-fixed + 3;
  position: absolute;
  top: 2rem;
  right: 2rem;

  &:focus {
    outline: 0;
  }

  .icon-bar {
    background-color: $white;
  }

  // Bars
  .icon-bar {
    border-radius: rem(1px);
    display: block;
    height: rem(2px);
    transition: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    width: rem(42px);
  }

  .icon-bar + .icon-bar {
    margin-top: rem(8px);
  }

  &:not(.collapsed) {
    position: fixed;
    right: 2rem;
    top: 2rem;

    .icon-bar {
      &:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}

// Collapsed menu
.offcanvas-collapse {
  background-color: rgba($primary-color, .9);
  bottom: 0;
  min-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  right:0;
  top: 0 !important;
  transform: translateX(100%);
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: 100%;
  width: 100%;
  z-index: $zindex-fixed+2;
}

.offcanvas-collapse.show,
.offcanvas-collapse.open {
  left:0;
  overflow: hidden;
  transform: translateX(0);
}

.layout-nav .navbar-nav {}
