/**
 *
 * VA "RocketSage" theme styles for WordPress
 * Basic styles only - uses CDN
 *
 */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables"; //BS
@import "bootstrap/scss/mixins"; //BS


// **** Fonts
$primary-font: 'Montserrat', sans-serif;
$headings-font: 'Unica One', sans-serif;

// Primary & Secondary Colours
$primary-color:       #000000 !default; // Juicy juicy melon
$secondary-color:     #f5f6f9 !default;
$info-color:          #4f81bc !default;
$warning-color:       #E35205 !default;
$light-color:         #EFEFEF !default;
$highlight-color:     $primary-color !default;
$light-grey:          #666666;
$default-color:       #1D1D1D !default;

// Put whatever theme colours you want in here!
$theme-colors: ();
$theme-colors: map-merge((
  "primary": $primary-color,
  "secondary": $secondary-color,
  "info": $info-color,
  "warning": $warning-color,
  "default": $default-color,
  "highlight": $highlight-color,
  "light": $light-color,
  "white": $white,
  "dark": $black,
  "light-grey": $light-grey,
), $theme-colors);

$img-path: '../../dist/images';
$gap: ($grid-gutter-width/2);

// Spacing
$spacer: 1rem !default;
$spacers: ();
$spacers: map-merge((
  0: 0,
  q: ($spacer * .25),
  h: ($spacer * .5),
  1: ($spacer * 1),
  1h: ($spacer * 1.5),
  2: ($spacer * 2),
  2h: ($spacer * 2.5),
  3: ($spacer * 3),
  3h: ($spacer * 3.5),
  4: ($spacer * 4),
  5: ($spacer * 5),
  6: ($spacer * 6),
  7: ($spacer * 7),
  8: ($spacer * 8),  
  9: ($spacer * 9)
), $spacers);

// Container Width Max
$container-width: 1140px;

$base-font-size: 16px; // Default font size on html element is 100%, equivalent to 16px;
